aiohappyeyeballs==2.6.1
aiohttp==3.13.0
aiosignal==1.4.0
annotated-types==0.7.0
asgiref==3.10.0
attrs==25.4.0
bitarray==3.7.2
certifi==2025.10.5
charset-normalizer==3.4.4
cytoolz==1.0.1
Django==5.0.9
eth-account==0.10.0
eth-hash==0.7.1
eth-keyfile==0.9.1
eth-keys==0.7.0
eth-rlp==1.0.1
eth-typing==5.2.1
eth-utils==5.3.1
eth_abi==5.2.0
frozenlist==1.8.0
hexbytes==0.3.1
idna==3.11
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
lru-dict==1.2.0
multidict==6.7.0
parsimonious==0.10.0
propcache==0.4.1
protobuf==6.32.1
psycopg==3.1.18
psycopg2-binary==2.9.11
py-ecc==8.0.0
pycryptodome==3.23.0
pydantic==2.12.2
pydantic_core==2.41.4
python-dotenv==1.0.0
python-decouple
pyunormalize==17.0.0
referencing==0.37.0
regex==2025.9.18
requests==2.32.5
rlp==4.1.0
rpds-py==0.27.1
setuptools==80.9.0
sqlparse==0.5.3
toolz==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
web3==6.11.3
websockets==15.0.1
wheel==0.45.1
yarl==1.22.0
PyMySQL
gunicorn
python-dotenv
